body {
  padding-bottom: 30px;
}

/** Navigation **/
#navigation a.navbar-brand {
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
}

#navbar a:hover, #navbar a:active {
  background-color: #000000;
}
#navbar a {
  color: #fff;
}

/** Content **/
#content section {
  background-color: #808080;
  margin-bottom: 20px;
}

/*
#chicken:before,
#beef:before,
#sushi:before {
  display: block;
  content: " ";
  margin-top: -60px;
  height: 60px;
  visibility: hidden;
}
*/
